@import '.././components/utils/index';

.cardImg {
  margin-bottom: 30px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 14px 4px rgba(187, 185, 207, 0.1);
}

.card {
  @include theme($theme: $veryDarkBlue);

  width: 100%;
  padding: 40px 20px;
  transition: all 0.2s;
}

.h3 {
  margin-top: 30px;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.btn {
  @include theme($theme: $darkBlue);

  box-shadow: 4px 4px 14px 4px rgba(34, 60, 80, 0.2);
  margin-bottom: 30px;
  border: none;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}

.buttonBlock {
  @include theme($theme: $veryDarkBlue);

  width: 100%;
  display: flex;
  box-shadow: none;
  flex-wrap: wrap;
  transition: all 0.2s;
}

.link {
  all: unset;
}

@media ($tablet) {
  .cardImg {
    width: 35%;
    margin-right: 70px;
  }

  .cardBlock {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    height: calc(100vh - 100px);
    padding: 70px;
  }

  .infoBtnBlock {
    display: flex;
    flex-direction: column;
  }

  .btnHBlock {
    display: flex;
    align-items: center;
  }
}

.light {
  background-color: $white;
  color: $veryDarkBlue;
}
