@import '../components/utils/index';

.Home {
  @include theme($theme: $veryDarkBlue);

  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

@media ($tablet) {
  .searchSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.light {
  background-color: $veryLightGray;
  color: $veryDarkBlue;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}
