@import './utils/index';

.btn {
  @include theme($theme: $darkBlue);

  margin: 5px;
  box-shadow: 4px 4px 14px 4px rgba(34, 60, 80, 0.2);
  border: none;
  width: 120px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  padding: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.light {
  background-color: $white;
  color: $veryDarkBlue;
}
