@import './utils/index';

.message {
  font-size: 5rem;
  color: goldenrod;
  text-align: center;
}

.link {
  all: unset;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
