@import './utils/index';

.cardImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  box-shadow: 4px 4px 14px 4px rgba(187, 185, 207, 0.1);
}

.card {
  @include theme($theme: $darkBlue);

  border-radius: 10px;
  box-shadow: 4px 4px 14px 4px rgba(34, 60, 80, 0.2);
}

.h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cardInfo {
  padding: 30px;
}

.p {
  font-weight: 600;
  font-size: 1rem;
}

@media ($tablet) {
  .h2 {
    font-size: 1rem;
    margin-bottom: 1px;
  }

  .p {
    font-size: 0.7rem;
  }

  .cardImg {
    height: 150px;
  }
}

.light {
  background-color: $white;
  color: $veryDarkBlue;
}
