@import './utils/index';

.dropdown {
  width: 60%;
  margin: 100px;
  position: relative;
}

.dropdown_btn {
  @include theme($theme: $darkBlue);

  box-shadow: 4px 4px 14px 4px rgba(34, 60, 80, 0.1);
  position: relative;
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 15px 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dropdown_content {
  @include theme($theme: $darkBlue);

  position: absolute;
  top: 120%;
  left: 0;
  padding: 10px;
  box-shadow: 4px 4px 14px 4px rgba(34, 60, 80, 0.1);
  width: 100%;
  border-radius: 10px;
}

.dropdown_item {
  @include theme($theme: $darkBlue);

  box-shadow: none;
  width: 100%;
  text-align: left;
  display: block;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: #f4f4f4;
    color: $veryDarkBlue;
  }
}

.light {
  background-color: $white;
  color: $veryDarkBlue;
}

.icon {
  width: 1rem;
  height: 1rem;
}
