@import './utils/index';

.message {
  font-size: 5rem;
  color: goldenrod;
  text-align: center;
}

.link {
  all: unset;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: stretch;
  gap: 2rem;
}
