@import "./utils/index.scss";
.head_block {
  @include theme($theme: $darkBlue);
  transition:
    background-color,
    color 0.8s;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
h2 {
  font-weight: normal;
  cursor: pointer;
}
.icon {
  padding-top: 1px;
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  rotate: 15deg;
}
.light {
  background-color: $white;
  color: $veryDarkBlue;
}
