// colors
// Dark mode
$darkBlue: hsl(209deg, 23%, 22%);
$veryDarkBlue: hsl(207deg, 26%, 17%);

// Light mode

$veryDarkBlueL: hsl(200deg, 15%, 8%);
$darkGray: hsl(0deg, 0%, 52%);
$veryLightGray: hsl(0deg, 0%, 98%);
$white: hsl(0deg, 0%, 100%);

// font
$HomeFont: 'Nunito Sans', sans-serif;

// screens
$mobile: 'min-width: 375px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1440px';
$header-size: 100px;
