// colors
//Dark mode
$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlue: hsl(207, 26%, 17%);
// Light mode
$veryDarkBlue: hsl(200, 15%, 8%);
$darkGray: hsl(0, 0%, 52%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//font
$mainFont: 'Nunito Sans', sans-serif;

//screens
$mobile: 'min-width: 375px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1440px';

// shadows
